* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.step:last-child {
  margin-right: 0;
}

.step1-image {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.step2-image {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step3-image {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-number {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width:768px) {
  main {
    width: 100%;
    display: block;
  }

  .step {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .step:last-child {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    
  }
}